@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Wrapper for the intro text */
.intro-wrapper {
  display: flex;
  font-size: .9rem;
  font-family: "Courier", monospace; /* Typewriter-style font */
  overflow: hidden; /* Hide the text initially */
  border-right: .1rem solid; /* Create the blinking cursor effect */
  animation: typing 3s steps(30, end), blink-caret 0.4s step-end infinite; /* Combine animations */
  margin-left: 25%;
  margin-right: 5%;
  border-color: transparent;
  white-space: nowrap;
}
@media (max-width: 768px) {
  .intro-wrapper {
    white-space: normal;
    margin-left: 5%;
    margin-right: 5%;
    animation: typing 3s steps(26, end), blink-caret 0.4s step-end infinite; /* Combine animations */

    /* Discord dark background color */
  }
}
/* Typing keyframes */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 35ch;
  } /* Adjust this width based on the number of characters */
}

/* Blinking cursor keyframes */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
/* Initially hidden words */
.hidden {
  opacity: 0;
  transition: opacity 0.5s ease; /* Smooth transition */
}

/* Faded-in words */
.fade-in {
  opacity: 1;
}
body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: rgb(74, 250, 232);
  /* Discord dark background color */
  color: beige;
  /* Light text color */
  margin: 1%;
  /* Adjust margin as needed */
  padding: 0;
  background: linear-gradient(180deg, #1d3557, #a8dadc, #f1faee);
  background-size: 200% 200%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  height: 85vh;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

a {
  text-decoration: none;
  text-align: center;
  color: beige;
  /* Discord link color */

  /* color: #DADADB; */
}

a:hover {
  transition: all 0.5s ease-in-out;
  color: rgb(127, 205, 231);
}

li {
  list-style: none;
}

.nav-container .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.cta-btn {
  background-color: #7289da;
  /* Discord button color */
  color: #ffffff;
  /* Light text color */
  /* background-color: #FFCC1A;
    color: #1D1E20; */
  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.cta-btn:hover {
  background-color: #677bc4;
  /* Discord button hover color */

  /* background-color: #DADADB; */
}

/* Footer */
hr {
  border: none;
  background-color: #58626f;
  /* Discord footer hr color */
  height: .1rem;
  width: 80%;
  
  margin: 1% auto 1% auto;

}
.fullHeight {
  height: 100%;
  display: grid;
}
.blue {
  color: #262f4b;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: #262f4b;
  /* Discord dark background color */
  grid-row: 3; /* Discord dark background color */
}

@media (max-width: 768px) {
  .footer-container {
    grid-row: 4; /* Discord dark background color */
  }
  .about-container.container {
    height: 100%;
  }
}
.footer-container p {
  font-size: 0.8rem;
  color: #ffffff;
  /* Light text color */
}

.footer-container .social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.footer-container .social_icons a {
  color: #7289da;
  /* Discord social icons color */
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.footer-container .social_icons a:hover {
  color: #677bc4;
  /* Discord social icons hover color */
}

.container {
  border-radius: .8rem;
  box-shadow: 1rem 1rem 3rem rgb(0 0 0 / 50%);
  width: 100%;
  height: 90%;
  padding: 1.5rem;
  margin-bottom: .5%;
  margin-top: .5%;
}
.container-3-columns {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* Three columns with the middle one being three times wider */
  gap: 2rem;
  grid-template-areas: "left center right"; /* Desktop order */
}
/* Layout for mobile devices */
@media (max-width: 768px) {
  .container-3-columns {
    grid-template-columns: 1fr; /* Single column */
    gap: 1rem; /* Adjust spacing between rows */
    grid-template-areas:
      "center"
      "right"
      "left "; /* Phone order */
  }

  .container-3-columns > div {
    margin: 0 auto; /* Center-aligns the content */
  }
  body{
    background: linear-gradient(180deg, #c4c9d1, #a8dadc, #f1faee);

  }
  * {
    font-size: small;
  }
  h1 {
    font-size:2rem;
  }

}

.center {
  transition: all 0.5s ease-in-out;
  color: #1d1e20;
  background-image: url("/images/backgroundcss.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  grid-area: center;

}

.left {
  transition: all 0.5s ease-in-out;

  background-color: #262f4b;
  height: fit-content;
  grid-area: left;
  /* Discord theme color */
}

.right {
  transition: all 0.5s ease-in-out;

  background-color: #262f4b;
  height: fit-content;
  grid-area: right;
  /* Discord theme color */
}

.container4 {
  background-color: #5865f2;
  /* Discord theme color */
}

.container5 {
  background-color: #ffa726;
  /* Discord theme color */
}

.container1:hover {
  transition: all 0.5s ease-in-out;
  background-image: url("/images/backgroundcss.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  /* Slightly darker version */
}

.about-container.container {
  padding: 1%;
  margin-bottom: 1%;
}


ol {
  list-style: decimal-leading-zero;
  color: rgb(182, 155, 155);
}

li {
  color: whitesmoke;
  position: relative;
  counter-increment: list;
  max-width: 45rem;
  margin: 3% 0 0 0;
  padding: 3% 2% 2%;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

.about-bullet-header {
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.about-bullet {
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.about-list {
  list-style-type: upper-roman;
  border: .15rem solid #dadadb;
  transition: all 0.5s ease-in-out;
  color: #1d1e20;
  background-color: rgb(250, 250, 247);
}

.about-list:hover {
  color: #1d1e20;
}

li:hover {
  transition: all 0.5s ease-in-out;
  background-color: rgb(223, 223, 223);
  color: #1d1e20;
}

.skills-container.container {
  padding: 5%;
  margin-bottom: 3%;
}

.projects-container.container {
  padding: 5%;
  margin-bottom: 3%;
}

/* Navbar */
.nav-container {
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262f4b;
  /* Discord dark background color */
  width: 100%;
  margin-bottom: 2%;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 3rem rgb(0 0 0 / 50%);
  width: 100%;
  padding: 1%;
  padding-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  /* background-color: #1D1E20; */
}

/* Hero */

.hero-container {
  height: 90vh;
  display: flex;
  
  align-items: center;
  flex-direction: column;
  padding: 7%;
}

.hero-container .profile-img {
  width: 21%;
  height: 21%;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.hero-container .hero-text {
  text-align: center;
  margin: 1% 0;
  width: 80%;
}



.hero-container .hero-text p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 5%;
}

.hero-container .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  
}

.hero-container .social-icons a {
  color: #9b9c9d;
  font-size: 5rem;
  transition: all 0.5s ease-in-out;
}


li {
  display: list-item;
  list-style-type: disc;
  /* Use disc for filled circles, change to other values like square or none if desired */
  margin-left: 7%;
  /* Adjust the margin as needed */
}

/* Skills */
.skills-container {
  padding: 1%;
}

.skills-container h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5%;
}

.skills-container .grid-skills {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 2rem;
}

.skills-container .grid-languages {
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  gap: 2rem;
}



.skills-container .grid-languages i {
  font-size: 1.5rem;
}

.skills-container .grid-skills .skill-card {
  background-color: #dadadb;
  color: #1d1e20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 7%;
  border-radius: 1.4rem;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: context-menu;
}
.zoom-effect {
  transition: transform 0.3s ease, border 0.3s ease;
  border: .2rem solid transparent;
}

.zoom-effect:hover {
  transform: scale(1.1);
  border: .2rem solid #007bff; /* Adds a border on hover */
}

.skills-container .grid-skills i {
  font-size: 1.5rem;
}

.skills-container .grid-skills .html:hover {
  background-color: #e34f26;
}

/* Projects */
.projects-container {
  padding: 1rem;
}

.projects-container h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.project-card {
  border: .2rem solid #e6e6e6;
  padding: 5%;
  border-radius: 1.8rem;
  height: fit-content;
  background-color: #ffffff;
  color: #1d1e20;
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 3%;
}

.project-card .folder-icon {
  font-size: 2.5rem;
  color: #ffcc17;
}

.project-header .small-icons {
  display: flex;
  color: blue;
  gap: 0 1rem;
}

.project-card .small-icons a {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

/* contact */
.contact-container {
  padding: 8% 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.contact-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3%;
}

.contact-container p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 5%;
  text-align: center;
}
.say-hello-button {
  background-color: #007bff;
  color: white;
  padding: 5% 5%;
  font-size: 1.5rem;
  border: none;
  border-radius: .9rem;
  cursor: pointer;
  box-shadow: 0 .4rem .5rem rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.say-hello-button:hover {
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.4);
  transform: scale(1.05); /* Grows the button size slightly */
}
